$primaryColor: #0097b2;
$secondaryColor: #44f1f1;

$whiteColor: #F5F5F5;
$blackColor: #000000;

// Background Colors
$backgroundColor: $whiteColor;
$surfaceColor: #EEEEEE;

// Text Colors
$textPrimary: $blackColor;
$textSecondary: #747474;

$errorColor:#CE3F3F;
$successColor:#1aa11d;
$warningColor:#f9a700;
$infoColor:#0658ff;

// Disabled Colors
$disabledColor:#CCCCCC;
// Divider Color
$dividerColor : #BDBDBD;
// Shadows
$shadowColor: #000