$primaryColor: #0097b2;
$secondaryColor: #37474F;

$whiteColor: var(--fgColor-white);
$blackColor: var(--fgColor-black);

// Background Colors
$backgroundColor: var(--bgColor-inset);
$surfaceColor: var(--bgColor-default);
$surfaceColor2: var(--bgColor-muted);

// Text Colors
$textPrimary: var(--fgColor-default);
$textSecondary: var(--fgColor-muted);

$errorColor: var(--fgColor-danger);
$errorSecondary: #632929;

$successColor: var(--fgColor-success);

$warningColor: var(--fgColor-attention);
$warningSecondary: #a27323;
$infoColor: #0658ff;

// Disabled Colors
$disabledColor: var(--bgColor-disabled);
// Divider Color
$dividerColor: var(--borderColor-default);
// Shadows
$shadowColor: $whiteColor;

@mixin box-shadow-1() {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@mixin box-shadow-2() {
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
@mixin box-shadow-3() {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
@mixin box-shadow-4() {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -25px inset;
}