@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merienda:wght@300..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

$font-family: "Reddit Sans", sans-serif;

// Font sizes:
$font-size-extra-small: .75rem;
$font-size-small: .90rem;
$font-size-normal: 1.1rem;
$font-size-big: 1.35rem;
$font-size-extra-big: 1.8rem;
$font-size-input: 1rem;