$desktop-font-size: 16px;
$tablet-font-size: calc($desktop-font-size * 95 / 100);
$mobile-font-size: calc($desktop-font-size * 85 / 100);

$desktop-height-limit: 100dvh;
$tablet-height-limit: 100dvh;
$mobile-height-limit: 100dvh;

$desktop-width-limit: 100dvw;
$tablet-width-limit: 100dvw;
$mobile-width-limit: 100dvw;

html#desktop-ap { font-size: $desktop-font-size !important; }
html#tablet-app { font-size: $tablet-font-size !important; }
html#mobile-app { font-size: $mobile-font-size !important; }


.desktop-app-container {
    max-height: $desktop-height-limit;
    max-width: $desktop-width-limit;
    
    $width-limit: $desktop-width-limit;
    $height-limit: $desktop-height-limit;
    & > .default-height,
    &.default-height,
    .default-height {
        height: $desktop-height-limit;
    }
    & > .default-width,
    &.default-width,
    .default-width {
        width: $desktop-width-limit;
    }
}

.tablet-app-container {
    max-height: $tablet-height-limit;
    max-width: $tablet-width-limit;
    
    $width-limit: $tablet-width-limit;
    $height-limit: $tablet-height-limit;
    & > .default-height,
    &.default-height,
    .default-height {
        height: $tablet-height-limit;
    }
    & > .default-width,
    &.default-width,
    .default-width {
        width: $tablet-width-limit;
    }
}

.mobile-app-container {
    max-height: $mobile-height-limit;
    max-width: $mobile-width-limit;
    
    $width-limit: $mobile-width-limit;
    $height-limit: $mobile-height-limit;
    & > .default-height,
    &.default-height,
    .default-height {
        height: $mobile-height-limit;
    }
    & > .default-width,
    &.default-width,
    .default-width {
        width: $mobile-width-limit;
    }
}